# Windows

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
*.dmp

# Archivos temporales

*.tmp
*.temp
*.bak

# Visual Studio Code

.vscode/*
!.vscode/settings.json
.history/
*.code-workspace

# Logs y PowerShell History

*.log
*-history.txt

# Variables de entorno

.env
.env.*

# Credenciales y secretos

secrets/
credentials/
passwords/

# Certificados y claves

*.pfx
*.p12
*.pem
*.key
*.crt
*.cer

# SSH

*.ppk
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub

# Backups y comprimidos

*.zip
*.7z
*.rar
*.tar
*.gz

# VMware

*.vmdk
*.vmem
*.vmss
*.nvram
*.vmsn

# VirtualBox

*.vdi
*.vbox
*.vbox-prev

# Hyper-V

*.vhd
*.vhdx

# Windows Event Logs

*.evtx

# Active Directory y BloodHound

exports/
ad-backups/
system-state/
bloodhound-data/
neo4j/
data/dbms/
*.db

# Documentación privada

lab-notes-private/

# Evidencia temporal

screenshots/raw/
reports/tmp/
